
/*Estilo Geral*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
      
}

body { 
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
} 

.flex {
    display: flex;
}

.Leibenez-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:aqua;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

 button:hover, form .enviar input [type=submit]{
    box-shadow: 0px 0px 8px aqua;
    transform: scale(1.05);
}


/*Estilo do Cabeçalho */

fixed-header {
    padding: 40px 4%;

}
fixed-header > .interface {
   display: flex; 
   align-items: center;
   justify-content: space-between;

}
fixed-header a{
    color: #7d7d7d;;
    text-decoration: none;
    display: inline-block;
    transition: 2s;
}

fixed-header a:hover{
    color: #fff;
    transform: scale(1.05);
}


fixed-header nav ul{
    list-style-type: none;
}

fixed-header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: aqua;
}


/*Estilo do Topo do Site*/
section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span{
    color: aqua;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Estilo de Sobre mim*/

section.Sobre-mim{
    padding: 40px 4%;

}

section.Sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

.Sobre-mim .txt-sobre{
    color: #fff;
}

.Sobre-mim .txt-sobre h2{
    font-size: 40px;
  line-height: 40px;
    margin-bottom: 30px;

}

.Sobre-mim .txt-sobre h2 span{
    color: aqua;
    display: block;
}


.Sobre-mim .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: aqua;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}

/*Estilo de Habilidades*/

section.Habilidades{
    padding: 40px 4%;
}

section.Habilidades .flex{
    gap: 60px;
}

.Habilidades .habilidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 2s;
}

.Habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.Habilidades .habilidades-box i{
    font-size: 70px;
    color: aqua;
}
.Habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*Estilo de Projectos*/
section.projecto {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projecto .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-pro{
    width: 360px;
    height: 460px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;
}

/*Estilo de Contacto*/

section.Contacto {
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .enviar{
    margin-top: 20px;
    text-align: center;
}
form .enviar input[type=submit]{
    width: 120px;
    background-color: aqua;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
}

/*Estilo do Rodape*/
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff69;
}

footer .flex{
    justify-content: space-between;
}

@media screen and (max-width: 1020px) {
    /*Classes Gerais*/
    .flex{
        flex-direction: column;}
        h2.titulo{
            font-size: 30px;
            line-height: 30px;
        }

    /*Cabeçalho*/
    .menu-desktop, .Leibenez-contato{
        display: none;
    }

    /*Topo do site*/
    section.topo-do-site .flex{
        gap: 40px;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .txt-topo-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /*Sobre*/
    section.Sobre-mim{
        padding: 80px 8%;
    }
    .Sobre-mim .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .social {
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
    /*Rodapé*/
    footer .flex{
        flex-direction: column;
    }
    footer .line-footer{
        text-align: center;
    }
}
